
/*Définition de la police personnalisée*/

@font-face {
    font-family: 'Raleway';    
    src: url("Raleway/Raleway-VariableFont_wght.ttf");  
  }

  body{
    font-family: raleway;
    margin: 0;
}

/*Header*/

header{
   
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

/*Logo et navigateur*/

.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}

/*Logo*/
.logo img{
    width: auto;
    height: 50px;
    display: flex;
    padding: 0;
    margin-top: 3%;
}
#trait_dessus{
    border-top : 1px solid #0065FC;
    width : 120px;
    text-align: center;
}
nav{  
    font-weight: bold;
}
nav ul{
    list-style-type: none;
    font-size: small;
    display: flex;
    justify-content: flex-end;
}
.hebact{
    display: flex;
}

nav li{
    padding-inline-start: 60px;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    text-decoration: none;
    color: #0065FC;
}

/*Navigateur surligné*/
.nav:hover{
    text-decoration: overline;
    color: #0065FC;
}

/*Titres*/
h1{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0mm;
}

h2{
    font-weight: lighter;
    font-size: small;
    margin-top: 0mm;
}
 /*Boutons recherche*/

/*Bouton principal*/
.recherche{
    display: flex;
    font-size: 1.3em;
    margin-top: 15px;
    font-weight: bold;  
}
.recherche i{
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
}
form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
form i{
    border: 1px solid #F2F2F2 ;
    border-radius: 30px 0px 0px 30px;
    background-color: #F2F2F2;
    padding: 1px 18px 1px 18px;
    color: black;
    font-weight: bold;
    width: 12px;
    height: 47px;
    text-align: center; 
    display: flex;
    align-items: center; 
}
.bouton{
    border: 1px solid #0065FC;
    border-radius: 0px 30px 30px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    width: 134px;
    height: 50px;
    padding: 1px 18px 1px 18px;
    display: flex;
    align-items: center;
}
.search{
    border: 1px solid #F2F2F2;
    width: 184px;
    height: 50px;
    font-weight: bold;
    color: black;
    padding: 1px 18px 1px 18px;
    display: flex;
    align-items: center;
}
/*2ème bouton*/

.variante{
    display: none;
}

/*Filtres*/

.filtre{
    display: flex;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 2%;
}
h3{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 0;
}
.filtre i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtersDiv i{
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;   
}
.filtersDiv{
    border-top: 1px #DEEBFF solid ;
    border-bottom: 1px #DEEBFF solid ;
    border-right: 1px #DEEBFF solid ;
    border-radius: 20px;
    height: 40px;
    margin-left: 2%;
    display: flex;
    align-items: center;
}
.filtersText{
    border-radius: 0 20px 20px 0;
    height: 70%;
    padding: 10px 10px 0 10px;
    font-weight: bold;
}
.filtersDiv:hover{
    background-color: #DEEBFF;
    border: none;
}

/*Info*/

.info i{
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 10px;
}
.info
{
    display: flex;
    align-items: center;
}

/*Main*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

/*Blocs Hébergements et Populaires*/

.bloc1bloc2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

/*Section Hébergement*/

.hebergement{
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    height: auto;
    padding-top: 3%;
    font-weight: bolder;
    font-size: 1.2em;  
}
/*Titre hébergement*/
#hebergements{
margin-left: 3%;
}

/*Bloc hébergement*/

.bloc1{
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    margin-top: 3%;
}

/*Les éléments à l'intérieur du bloc hébergement*/

.el img{
    width: 100%; 
    height: 60%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.el{
    width: 275px;
    height: 200px;
    border: white 1px solid;
    background-color: white;
    border-radius: 15px;
    padding: 3px 3px 0px 3px;
    box-shadow: 0 0 5px 0.2em #e2e2e2;   
}
.el:hover{
    text-decoration: none;   
}

/*Text et étoiles*/
.desc
{
    font-size: small; 
    color: black;
    padding-left: 5%;
    padding-bottom: 5%;
    text-align: left; 
    display: flex;
    flex-direction: column;
}
.hotel{
    margin-top: 0%;
    margin-bottom: 0%;
}
.prix{
	font-weight: lighter;  
    margin-top: 2%;
    margin-bottom: 3%;
}
.etoile{
    color: #0065FC; 
    display: flex;
    flex-direction: row; 
}

.afficher{
    font-size: smaller;
    margin-left: 3%;
    margin-top: 3%;
}

/*Section Les plus populaires*/

.populaires{   
    width: 30%;
    height: auto;	
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

/*Titre*/
.pop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
/*Symbole*/
.pop i{
  padding-top: 5%;
  
}

/*Eléments avec image et texte*/

.bloc2{
    height: 450px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-right: 2%;
}
.el1{
    width: 80%;
    height: 135px;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    font-size: small;
    display: flex;
    margin-bottom: 10%;   
}
.el1 img{
    width: 145px;
    height: 95%;
    border: 1px solid transparent;
    border-radius: 15px 0px 0px 15px; 
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 15px;
    padding-bottom: 2px; 
    object-fit: cover;
}

/*Texte et étoiles*/
.asidedesc{
    font-size: small; 
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left; 
    margin: 0%;
    display: flex;
    flex-direction: column;
}
.el1{
    text-decoration: none;
    display: flex;
}
.el1:hover{
    text-decoration: none;
}
.hotel{
    margin-top: 3%;
}
.prix1{
	font-weight: lighter;
    margin-top: 5%;
}
.etoile1{
    padding-top: 25%;
    color: #0065FC; 
    display: flex;
    flex-direction: row;
}
/*Activités*/

.activ{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 2%; 
  
}
/*Titre*/
.activ a{
    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom: 2%;
}

.bloc3{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;     
}

a img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.text{
    font-weight: bolder;
    font-size: medium;
    padding: 20px;
}
.grand{
    width: 80%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px #F2F2F2; 
    margin-right: 3%; 
}
.grand img{
    height: 390px;
}
.ensemble1{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px #F2F2F2;
    margin-right: 3%;
}

.ensemble2{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px #F2F2F2;
    margin-right: 0%;
}
.moyen img{
    height: 180px;
}
.etroit img{
    height: 110px;
}
.eglise img{
    height: 145px;
}
.parc img{
height: 145px;
}

/*Footer*/
footer{
    
    display: flex;  
    justify-content: space-evenly; 
    background-color: #F2F2F2 ;
    font-size: small;
    
}
.propos{
    display: flex;
    flex-direction: column;    
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;  
}
ul {
    list-style-type: none;
}
.propos p{
    margin-top: 1%;
}

/*Pour téléphone*/
@media (width: 375px){

header{
    width: auto;
    
}

/*Logo*/

.logo img{
    height: 40px;
}
.entete{
  
}

/*Navigateur*/

#trait_dessus{
    border-top: none;
    border-bottom : 1px solid #0065FC;
}
#trait_dessous{
    border-bottom : 1px solid #F2F2F2;
    width : 120px;
    text-align: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
.hebact{
    display: flex;   
}
ul{
    flex-flow: wrap-reverse;
}

h1{
    width: 250px; /* à modifier selon besoins */
    overflow: hidden;
}
h2{
    margin-top: 2%;
}

/*Bouton recherche*/

.recherche{
    display: none;
}
.variante{
    display: flex;
    margin-top: 5%;
}
form{
    display: flex;
    justify-content: center;  
}
.partie1{
    display: flex;
}
.partie1 i{
    border: 1px solid #F2F2F2 ;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 1px 18px 1px 18px;
    color: black;
    font-weight: bolder;
    width: 12px;
    height: 47px;
    text-align: center; 
    display: flex;
    align-items: center; 
}
.glass{
    border: 1px solid #F2F2F2;
    width: 184px;
    height: 50px;
    font-weight: bolder;
    color: black;
    padding: 1px 18px 1px 18px;
    display: flex;
    align-items: center;
}
.partie2 i{
    border: 1px solid #0065FC ;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065FC;
    padding: 1px 18px 1px 18px;
    color: white;
    font-weight: bolder;
    width: 12px;
    height: 47px;
    text-align: center; 
    display: flex;
    align-items: center; 
}
/*Filtres*/
.filtre{
    flex-wrap: wrap;
}

h3{
    width: 175px; /* à modifier selon besoins */
    overflow: hidden;
    margin-bottom: 3%;    
}

/*Blocs hébérgement et populaires*/
main{
    margin: 5%;
    width: auto;
    height: auto;
}
.bloc1bloc2{ 
    display: flex;
    flex-direction: column-reverse;
    margin: 0;    
}

/*Bloc populaires*/

.populaires{   
    width: 100%; 
    border-radius: 0px;
}
.bloc2{
    height: auto;
 
}
.el1{
    width: 90%;
}   

/*Bloc hébergements*/

.hebergement{
    margin-top: 10%;
    border: transparent;
    background-color:transparent;
    border-radius: 0;
    width: 100%;
    height: auto;
}
.bloc1{
    height: auto;
}
.el{
    margin-top: 5%;
    width: 100%;
}

/*Bloc activités*/

.activ{
    height: auto;  
    margin-top: 10%; 
}
.bloc3{
    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: column;   
}
.ensemble1{
    display:contents;
    width: 100%;
}
.ensemble2{
    display:contents;
    width: 100%;
}
.grand{
    width: 100%;
    margin-top: 10%;
}

.moyen{
    margin-top: 10%;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px #F2F2F2;
    margin-right: 3%;
}
.etroit{
    margin-top: 10%;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px #F2F2F2;
    margin-right: 3%;
}
.eglise{
    margin-top: 10%;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px #F2F2F2;
    margin-right: 3%;
}
.parc{
    margin-top: 10%;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px #F2F2F2;
    margin-right: 3%;
}
.grand img{
    height: 145px;
}
.moyen img{
    height: 145px;
}
.etroit img{
 
    height: 145px;
}
a img{
    width: 100%;
}

/*Footer*/
footer{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 5%;
}

/*Pour tablette*/
@media (min-width: 375px) and (max-width: 667px){}
@media (min-width :768px) and (max-width :1024px){

    header{
    width: auto;
    display: flex;
    flex-direction: column;
}
}

/*Pour les grands écrans*/
@media (min-width : 1024px){